@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Julee&family=Montserrat:wght@100&family=Outfit:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0; 
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.container{
    max-width: 300px;
    margin: 0 auto;
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}
.card img{
 width: 100%;
 border-radius: 15px;
}
.text{
    padding: 20px 20px;
}
.text h3{
    color: hsl(218, 44%, 22%);
    padding-bottom: 20px;
 
}
 .text p{
 color: hsl(220, 15%, 55%);
 }